<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ResuMaker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Append
  * Updated: Feb 01 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>ResuMaker</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Features</a></li>
          <li><a href="#faq">FAQs</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->



    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="/images/try5.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Resume Maker</h2>
            <p data-aos="fade-up" data-aos-delay="200">Get Hired Faster with Customized Resumes that make an Impact!</p>
          </div>
          <div class="col-lg-5">
            <a class="btn btn-primary" href="/resumes" style="margin-top: 5px;background-color: rgb(255, 26, 26);">Create Your Resume</a>
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->


    <!-- About Section - Home Page -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>Crafting Resumes for Your Success</h2>
            <p>Create standout resumes that showcase your skills and experiences effectively. Our user-friendly platform ensures a seamless experience from start to finish. Join thousands of satisfied users who have landed their dream jobs with our expertly crafted resumes.</p>
        </div>
        

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">
      
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                      <i class="bi bi-buildings"></i>
                      <h3>Professional Resumes</h3>
                      <p>Effortlessly craft professional resumes that highlight your skills and experiences. Our intuitive platform streamlines the resume-building process, so you can focus on landing your dream job.</p>
                  </div>
              </div> <!-- End Icon Box -->
      
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                      <i class="bi bi-clipboard-pulse"></i>
                      <h3>Ace Your Job Interviews</h3>
                      <p>Prepare for success with our interview preparation resources. From mock interviews to expert tips, we help you build confidence and stand out from the competition.</p>
                  </div>
              </div> <!-- End Icon Box -->
      
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                      <i class="bi bi-command"></i>
                      <h3>Customizable Templates</h3>
                      <p>Choose from a variety of customizable resume templates to suit your unique style and preferences. With our extensive collection, you can create a resume that truly represents you.</p>
                  </div>
              </div> <!-- End Icon Box -->
      
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                      <i class="bi bi-graph-up-arrow"></i>
                      <h3>Elevate Your Career</h3>
                      <p>Take your career to new heights with our expert resume-building tools and resources. Whether you're a recent graduate or a seasoned professional, we're here to help you succeed.</p>
                  </div>
              </div> <!-- End Icon Box -->
      
          </div>
      </div>
      

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- Services Section - Home Page -->
    <section id="services" class="services">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Crafting Success, One Resume at a Time: Explore Our Comprehensive Services Today!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-robot"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">ATS Friendly Resumes</a></h4>
                    <p class="description">Ensure your resume passes through Applicant Tracking Systems effortlessly, maximizing your chances of landing interviews.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">Resume Suggestions</a></h4>
                    <p class="description">Receive personalized suggestions to enhance your resume, ensuring it stands out to potential employers.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">Live Resume Score</a></h4>
                    <p class="description">Get real-time feedback on your resume's effectiveness and optimize it for maximum impact.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-collection"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">Template Switch</a></h4>
                    <p class="description">Easily switch between a variety of professionally designed templates to find the perfect look for your resume.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-download"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">Multi-Format Export</a></h4>
                    <p class="description">Download your resume in PDF, JPG, or DOCX formats, ensuring compatibility with any application process.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-linkedin"></i></div>
                <div>
                    <h4 class="title"><a href="#" class="stretched-link">LinkedIn Autofill</a></h4>
                    <p class="description">Save time by automatically populating your resume with your LinkedIn profile information, simplifying the application process.</p>
                </div>
            </div>
        </div><!-- End Service Item -->
        

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- Faq Section - Home Page -->
    <section id="faq" class="faq">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                Explore our FAQs to find answers to your burning questions about resumes, cover letters, and job interviews. Empower your career journey with expert guidance from our comprehensive FAQ section.
              </p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                  <h3><span class="num">1.</span> <span>How can I tailor my resume for specific job applications?</span></h3>
                  <div class="faq-content">
                      <p>To tailor your resume, carefully review the job description and customize your resume to highlight the skills and experiences most relevant to the position. Use keywords from the job posting and quantify your achievements whenever possible.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
          
              <div class="faq-item">
                  <h3><span class="num">2.</span> <span>What are some common mistakes to avoid on a resume?</span></h3>
                  <div class="faq-content">
                      <p>Common resume mistakes include spelling and grammatical errors, using a generic resume for every application, and including irrelevant information. Make sure your resume is clear, concise, and tailored to each job application.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
          
              <div class="faq-item">
                  <h3><span class="num">3.</span> <span>How do I address employment gaps on my resume?</span></h3>
                  <div class="faq-content">
                      <p>To address employment gaps, consider using a functional resume format that emphasizes skills and experiences rather than chronological work history. You can also briefly explain any gaps in a cover letter or during an interview.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
          
              <div class="faq-item">
                  <h3><span class="num">4.</span> <span>What should I include in my resume's education section?</span></h3>
                  <div class="faq-content">
                      <p>In the education section of your resume, include the name of the institution, degree obtained, graduation date (or expected graduation date), and any relevant honors or achievements. You can also include relevant coursework or academic projects.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
          
              <div class="faq-item">
                  <h3><span class="num">5.</span> <span>How can I make my resume stand out to employers?</span></h3>
                  <div class="faq-content">
                      <p>To make your resume stand out, focus on showcasing your unique skills, experiences, and accomplishments. Use a professional format, quantify your achievements, and tailor your resume to each job application. Additionally, consider including a professional summary or profile at the beginning of your resume.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
          </div>
          

            </div>

          </div>
        </div>

      </div>

    </section><!-- End Faq Section -->

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Reach out to our dedicated team for personalized assistance and support on your resume-building journey.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>ResuMaker</p>
                  <p>New York, NY XXYYZZ</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 1122 33445 56</p>
                  <p>+1 6677 889900 11</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@resumaker.com</p>
                  <p>contact@resumaker.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form class="php-email-form" id="contactForm" action="#">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    </div>
        
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    </div>
        
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                    </div>
        
                    <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                    </div>
        
                    <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
        
                        <button type="submit" id="sendMessageButton">Send Message</button>
                    </div>
                </div>
              </form>
        </div>
        </div>

      </div>

    </section><!-- End Contact Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">ResuMaker</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>



  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/main.js"></script>
  <script>
    $(document).ready(function () {
        $('#contactForm').submit(function (event) {
            console.log("clicked submit")
            event.preventDefault();
            var formData = $(this).serialize();
            $('.loading').show();


            $.ajax({
                type: 'POST',
                url: 'send_message',
                data: formData,
                success: function (response) {
                    handleResponse(response);
                },
                error: function () {
                    $('.loading').hide();
                    $('.error-message').html('<p>Error sending message.</p>').show();
                    $('.sent-message').empty();
                }
            });
        });

        function handleResponse(response) {
            $('.loading').hide();
            if (response.status === 'success') {
                $('.sent-message').html('<p>Your message has been sent. Thank you!</p>').show();
                $('.error-message').empty().hide();
                $('#contactForm')[0].reset();
            } else {
                $('.sent-message').empty().hide();
                $('.error-message').html('<p>' + response.message + '</p>').show();
            }
        }
    });
</script>
</body>

</html>